build/*
bin/*
webserver/target/*
target/*
webserver/target/classes/*
webserver/target-eclipse/*
./target-eclipse
.gradle/*
.classpath
.project
.settings/*
.idea/
.class
0/*
amorDePatitas/*
app.log
stacktrace.log
.asscache
*/*.class
#*
.metadata/*
Servers/*
webserver/.settings/*
webserver/cobertura.ser
webserver/bin/

.idea/*
webserver/webserver-grailsPlugins.iml
webserver/webserver.iml
projectFilesBackup/*
webserver.ipr
webserver.iws
/webserver/out/*
**/*.iml
webserver/.slcache


out/*